:root {
  --demi-heure: 1.2rem;
}


.calandar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calandar__header {
  display: flex;
  align-items: center;
  width: 100%;
}
.calandar__header .center-div {
  flex-grow: 1;
  text-align: center;
}
.calandar__header .left-button, .calandar__header .right-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  padding: 1.5rem;
  cursor: pointer;
  transition: 0.35s;
}
.calandar__header .left-button:hover, .calandar__header .right-button:hover {
  font-size: 1.35rem;
}
.calandar__body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.calandar__body .days {
  position: sticky;
  top: 5.8rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: #f4f4f4;
  z-index: 1;
  border-bottom: #3D7C98 0.15rem solid;
}
.calandar__body .timeslots {
  display: flex;
  gap: 1.5rem;
}
.calandar__body{
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border: 2px solid #f4f4f4;
  border-radius: 0.25rem;
  font-size: 1.2rem;
}
.days__day{
  display: flex;
  justify-content: center;
  width: 150px;
}
.calandar__body .days__letter {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border: 2px solid #f4f4f4;
  border-radius: 0.25rem;
  font-size: 1.5rem;
}
.timeslots{
  display: flex;
  justify-content: space-around;
}
.timeslots__day{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
}
.timeslot{
  position: absolute;
  display: flex;
  align-items: center;
  background-color: #eae9e9;
  border-radius: 8px;
  cursor: pointer;
}
.timeslot div{
  font-size: 0.6em;
  margin: 5px;
}
.timeslot__houres{
  display: flex;
  flex-direction: column;
}
.timeslot__color, .div-color{
  width: 7px;
}
.back-button{
  cursor: pointer;
}
.task-name{
  color: rgb(99, 99, 220);
  font-weight: bold;
}
.Conduite .div-color{
  background-color: rgb(190, 243, 255);
}
.Réunion .div-color{
  background-color: rgb(255, 190, 239);
}
.Indisponibilité .div-color{
  background-color: rgb(251, 225, 159);
}
.btn-task{
  display: flex;
}
.btn-task div{
  margin: 3px;
}
.modifButton{
  color: white;
  background-color: rgb(99, 120, 225);
  width: max-content;
  padding: 3px;
  border-radius: 10px;
  margin: 0 auto;
}
.delButton{
  color: white;
  background-color: rgb(225, 99, 99);
  width: max-content;
  padding: 3px;
  border-radius: 10px;
  margin: 0 auto;
}
.modifButton:hover, .delButton:hover{
  background-color: black;
  cursor: pointer;
  transition: 0.5s;
}
.calandar__body .numbers {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.calandar__body .numbers__row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.calandar__body .numbers__num {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  border: 2px solid #f4f4f4;
  border-radius: 0.25rem;
}
.calandar__body .numbers__num.opacity {
  opacity: 0.25;
}
.calandar__body .numbers__num.today {
  border: 2px solid #3D7C98;
  border-radius: 50%;
  background: #3D7C98;
  color: #f4f4f4;
}
.today{
  color: #f4f4f4;
  background-color: #3D7C98;
}
.calandar__body .numbers__num:hover {
  border: 2px solid #3D7C98;
}

.cache{
  opacity: 0.4;
  z-index: -1;
}
#task {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
}
#task div{
  margin-top: 10px;
}
.form-info{
  font-weight: bold;
}

/* ======== Affichage des horaires ========= */

.col-heures {
  position: relative;
}

.heure {
  position: absolute;
  /* right: 0; */
  top: calc(var(--item) * 4 * var(--demi-heure));
}

.deux-heures {
  width: 100%;
  height: calc(4 * var(--demi-heure));
  position: relative;
  border: 1px solid #00000052;
}

.trente-min {
  height: var(--demi-heure);
  width: 20%;
  border-bottom: 1px solid #00000052;
}

.trente-min.mid {
  width: 35%;
}

/* ======== Darg & Drop ========= */

.dragover {
  background-color: #00000017;
  opacity: .5;
}
.drop {
  border-radius: 8px;
}
.overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000003c;
}
.validation {
  height: 50vh;
  width: 50vw;
  background-color: #f4f4f4;
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=calandar.css.map */
