.calandar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calandar__header {
  display: flex;
  align-items: center;
  width: 100%;
}
.calandar__header .center-div {
  flex-grow: 1;
  text-align: center;
}
.calandar__header .left-button, .calandar__header .right-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  padding: 1.5rem;
  cursor: pointer;
  transition: 0.35s;
}
.calandar__header .left-button:hover, .calandar__header .right-button:hover {
  font-size: 1.35rem;
}
.calandar__body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.calandar__body .days {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-bottom: #3D7C98 0.15rem solid;
}
.calandar__body .timeslots {
  display: flex;
  gap: 1.5rem;
}
.calandar__body{
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border: 2px solid #f4f4f4;
  border-radius: 0.25rem;
  font-size: 1.2rem;
}
.days__day{
  display: flex;
  justify-content: center;
  width: 150px;
}
.calandar__body .days__letter {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border: 2px solid #f4f4f4;
  border-radius: 0.25rem;
  font-size: 1.5rem;
}
.timeslots{
  display: flex;
  justify-content: space-around;
}
.timeslots__day{
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
}
.timeslot{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 233, 233);
  margin-bottom: 10px;
  border-radius: 15px;
}
.timeslot:hover{
  cursor: pointer;
}
.timeslot div{
  font-size: 0.6em;
  margin: 5px;
}
.timeslot__houres{
  display: flex;
  flex-direction: column;
}
.timeslot__color, .div-color{
  width: 5px;
  height: 40px;
}
.back-button{
  cursor: pointer;
}
.task-name{
  color: rgb(99, 99, 220);
  font-weight: bold;
}
.Conduite .div-color{
  background-color: rgb(190, 243, 255);
}
.Réunion .div-color{
  background-color: rgb(255, 190, 239);
}
.Indisponibilité .div-color{
  background-color: rgb(251, 225, 159);
}
.btn-task{
  display: flex;
}
.modifButton{
  color: white;
  background-color: rgb(99, 120, 225);
  width: max-content;
  padding: 3px;
  border-radius: 10px;
  margin: 0 auto;
}
.delButton{
  color: white;
  background-color: rgb(225, 99, 99);
  width: max-content;
  padding: 3px;
  border-radius: 10px;
  margin: 0 auto;
}
.modifButton:hover, .delButton:hover{
  background-color: black;
  cursor: pointer;
  transition: 0.5s;
}
.calandar__body .numbers {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.calandar__body .numbers__row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.calandar__body .numbers__num {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  border: 2px solid #f4f4f4;
  border-radius: 0.25rem;
}
.calandar__body .numbers__num.opacity {
  opacity: 0.25;
}
.calandar__body .numbers__num.today {
  border: 2px solid #3D7C98;
  border-radius: 50%;
  background: #3D7C98;
  color: #f4f4f4;
}
.today{
  color: #f4f4f4;
  background-color: #3D7C98;
}
.calandar__body .numbers__num:hover {
  border: 2px solid #3D7C98;
}
#task{
  position: fixed;
  top: center;
  left: center;
  background-color: white;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*# sourceMappingURL=calandar.css.map */
