:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: #0a0a0a;
  background-color: #f4f4f4;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.unstyled-button {
  border: none;
  background: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* BARRE DE NAVIGATION + HEADER */

#Gobus_Logo{
  cursor: pointer;
}
#header {
  position: fixed;
  width: 100vw;
  background-color: #f9f9f9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2509803922);
  z-index: 999;
}
#header .container {
  height: 5.8rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .container .logo {
  width: 5.3rem;
  height: 3.8rem;
  object-fit: cover;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2274509804));
}
#header .container .toggleNav {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  font-size: 1.5rem;
}
#header .navBar {
  width: 100%;
}
#header .navBar.hide {
  display: none;
}
#header .navBar__item {
  height: 2.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3D7C98;
  font-weight: 700;
  transition: 0.35s ease-in-out;
  cursor: pointer;
}
#header .navBar__item.focus {
  text-decoration: underline;
}
#header .navBar__item:hover {
  background-color: rgba(61, 124, 152, 0.062745098);
}

#app {
  flex-grow: 1;
  margin-top: 5.8rem;
  padding: 0.5rem;
}
.presentation{
  text-align: center;
  font-weight: bold;
  color: rgb(49, 88, 188);
}
.form-info, .ul-info{
  color: rgb(177, 96, 96);
  font-weight: bold;
}
.ul-info li{
  list-style-type: none;
  color: black;
  font-weight: normal;
  text-align: center;
}
.ul-info li:hover{
  color: #3D7C98;
  cursor: pointer;
}
.return{
  color: rgb(133, 130, 130);
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  transition: 0.5s;
  width: max-content;
}
.return:hover{
  letter-spacing: 3px;
  color: rgb(184, 182, 182);
}
#app .navBar__item:hover{
  color: #3D7C98;
  cursor: pointer;
  width: max-content;
}
#app .navBar{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#app .navBar .navBar__item{
  padding: 10px;
  list-style-type: none;
}
#app form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app form > :not(.submitButton){
  padding: 10px;
}
#app .navBar_User{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
#app .navBar_Admin{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
#app .navBar_User .navBar_container, #app .navBar_Admin .navBar_container{
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 15px;
  cursor: pointer;
}
#app .navBar_User .navBar_container .navBar_image, #app .navBar_Admin .navBar_container .navBar_image{
  padding: 5px;
  height: max-content;
  width: max-content;
  justify-content: center;
}
#app .navBar_User .navBar_container .navBar__item, #app .navBar_Admin .navBar_container .navBar__item{
  display: inline-block;
  text-align: center;
}
#app .navBar_User .navBar_container .navBar_image img, #app .navBar_Admin .navBar_container .navBar_image img{
  display: block;
  transition: 0.5s;
  padding: 8px;
}
.rose, .jaune, .jaune_clair, .rouge, .orange, .bleu, .bleu_clair, .gris, .violet, .vert, .vert_clair{
  transition: 0.5s;
  border-radius: 35px;
}
.rose:hover, .jaune:hover, .jaune_clair:hover, .rouge:hover, .orange:hover, .bleu:hover, .bleu_clair:hover, .gris:hover, .violet:hover, .vert:hover, .vert_clair:hover{
  border-radius: 20px;
}
.rose{
  background-color: #E2A9FD;
}
.jaune{
  background-color: #fde385;
}
.jaune_clair{
  background-color: #fff79e;
}
.rouge{
  background-color: #F2A1A1;
}
.orange{
  background-color: #eec07b;
}
.bleu{
  background-color: #a1abed;
}
.bleu_clair{
  background-color: #A1DFF2;
}
.gris{
  background-color: #a8acb7;
}
.violet{
  background-color: #a68bff;
}
.vert{
  background-color: #79fb86;
}
.vert_clair{
  background-color: #baf8bf;
}

/* FOOTER */

#footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FORMULAIRE D'AUTHENTIFICATION */

.submitButton{
  cursor: pointer;
  transition: 0.5s;
  border: solid 2px #3D7C98;
  background-color: #3D7C98;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 8px 20px;
  color: white;
  border-radius: 15px;
}
.submitButton:hover{
  border: solid 2px #3D7C98;
  background-color: white;
  color: #3D7C98;
}
#adminFormulaire{
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: 0 auto;
  padding: 20px 60px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 5px gray;
  align-items: center;
}
#adminFormulaire input{
  padding: 10px;
  margin: 5px;
  border-radius: 30px;
  border: 0px;
  background-color: #e7e7e7;
}
#adminFormulaire #adminButton{
  margin: 5px;
}
#adminFormulaire label{
  display: block;
  text-align: center;
}

#adminButton, #boutonAlerte{
  transition: 0.5s ease;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: bold;

  display: block;

  padding: 15px 85px 15px 75px;
  border-radius: 30px;
  border: 0px;

  color: white;
  background-color: #58b847;

  margin: 0 auto;
}

#adminButton:hover, #boutonAlerte:hover{
  cursor: pointer;
  background-color: #222630;
  transition: 0.5s ease;
}

/* AUTRES FORMULAIRES */

.app-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px gray;
}

.label-info{
  color: rgb(177, 96, 96);
}

input[type="datetime-local"], input[type="week"], input[type="time"], input[type="date"]{
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 15px;
}

.app-form .form-div, .app-form .form-div-radio{
  margin: 5px;
  display: flex;
}

.app-form .form-div{
  flex-direction: column;
  align-items: center;
}

.addButton{
  cursor: pointer;
  border: solid 2px grey;
  border-radius: 15px;
  padding: 5px;
  background-color: rgb(228, 225, 225);
  transition: 0.5s;
}

.addButton:hover{
  color: white;
  border: solid 2px white;
}

/* PAGE D'ACCUEIL */

#titreAccueil{
  color: rgb(51, 51, 173);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.GoBus_titre{
  color: rgb(74, 160, 74);
  font-weight: bold;
}

.GoBus_role{
  color: rgb(176, 66, 66);
  font-weight: bold;
}

.paragraphe{
  margin-top: 3em;
}

.paragraphe_info{
  background-color: rgb(51, 48, 48);
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: max-content;
}

.sous_paragraphe{
  padding-left: 15px;
}

#imgPres{
  display: block;
  width: 50%;
  margin: 0 auto;
}

.phrasePres{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(49, 88, 188);
}

.paragraphe a{
  background-color: rgb(121, 199, 116);
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

.paragraphe a:hover{
  background-color: rgb(68, 68, 68);
  transition: 0.5s;
}

/* PAGES DE GESTION */

.liste_gestion{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.sous_gestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.gestion_titre{
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px lightblue;
}
.gestion_users, .gestion_bus, .gestion_lignes, .gestion_infos{
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  list-style-type: none;
  cursor: pointer;
  transition: 0.5s;
  color: white;
}

.gestion_users:hover, .gestion_bus:hover, .gestion_lignes:hover, .gestion_infos:hover{
  background: linear-gradient(to right, rgb(64, 64, 64), black);
}

.gestion_users{
  background: linear-gradient(to right, rgb(238, 137, 251), rgb(234, 110, 250));
}

.gestion_bus{
  background: linear-gradient(to right, rgb(132, 237, 106), rgb(83, 213, 50));
}

.gestion_lignes{
  background: linear-gradient(to right, rgb(184, 209, 255), rgb(154, 187, 250));
}

.gestion_infos{
  background: linear-gradient(to right, rgb(255, 216, 184), rgb(255, 205, 164));
}

.plage-horaire{
  display: flex;
  align-items: center;
}
.trash{
  width: 30px;
  height: 30px;
  background-color: rgb(229, 88, 88);
  border-radius: 20px;
  padding: 3px;
  cursor: pointer;
}


/* MENU DE L'AGENDA */

.agendaMenu{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid 2px #3D7C98;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  opacity: 80%;
}
.agendaMenu_titre{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.agendaMenu_titre:hover{
  background-color: #2A7B82;
}
.agendaMenu_titre_chauffeurs{
  background: linear-gradient(180deg, rgb(136, 198, 136), rgb(104, 172, 104));
}
.agendaMenu_titre_resp{
  background: linear-gradient(to right, rgb(255, 212, 126), rgb(236, 191, 101));
}
.agendaMenu_titre_bus{
  background: linear-gradient(to right, rgb(255, 141, 141), rgb(253, 102, 102));
}
.agendaMenu_titre_lignes{
  background: linear-gradient(to right, rgb(146, 181, 245), rgb(95, 148, 246));
}
.agendaMenu_nom{
  width: 100%;
}
.agendaMenu_nom:hover{
  color: white;
}
.agendaMenu_item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
.agendaMenu_triangle{
  width: 15px;
  height: 15px;
  margin-right: 5px;
  transition: 0.25s;
}
.agendaMenu_nom{
  color: black;
}
.item_invisible{
  display: none;
}
.item_visible{
  display: flex;
}
.agendaMenu_user_3, .agendaMenu_user_2, .agendaMenu_bus, .agendaMenu_ligne{
  width: 100%;
}
.agendaMenu_user_3 label, .agendaMenu_user_2 label, .agendaMenu_bus label, .agendaMenu_ligne label{
  width: 100%;
}
.agendaMenu_user_3:hover, .agendaMenu_user_2:hover, .agendaMenu_bus:hover, .agendaMenu_ligne:hover{
  background: linear-gradient(to right, rgb(236, 233, 233), rgb(206, 205, 205));
}
.agendaMenu_user_3{
  background-color: #DAF9D8;
}
.agendaMenu_user_2{
  background-color: #FFEECA;
}
.agendaMenu_bus{
  background-color: #FFE4E2;
}
.agendaMenu_ligne{
  background-color: #E1F1FF;
}

/* POP-UP */

#fenetreAlerte{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(75, 208, 75);
  border-radius: 10px;
  width: 300px;
  height: 70px;
  box-shadow: 0px 0px 5px gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  0% {
    left: -25%;
    opacity: 0;
  }
  50% {
    left: 12%;
    opacity: 0.5;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

#fenetreAlerte p{
  color: white;
}

#titreAlerte{
  font-weight: bold;
}

#contenuFenetre{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.imageFenetre{
  width: 20px;
  height: 20px;
}

/* NOTIFICATIONS */

#app .navNotif {
  display: table;
  list-style: none;
  overflow: hidden;
  background: #e7e7e7;
  border: 2px solid #4aa04a;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

#app .navNotif_item {
  display: table-cell;
  width: 1%;

}

#app .navNotif_item:not(:first-child) {
  border-left: 2px solid #4aa04a;
}

#app .navNotif_name{
  display: block;
  color: #4aa04a;
  text-align: center;
  line-height: 36px;
  padding: 0 10px;
}

#app .navNotif_name:hover {
  color: #ecf0f1;
  background: #4AA04AFF;
}


#app .divNotif, .divTitresNotif, .notif_image{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#app .divTitresNotif{
  padding: 10px 0;
  margin: 0 20px;
}

#app .divNotif{
  background-color: #f4f4f4;
  margin-bottom: 1px;
  padding: 3px;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2274509804));
}

#app .item_notif_archive{
  padding: 10px;
}

#app .unread .divInfoNotif {
  font-weight: bolder;
}

#app .read {
  background-color: #f3faf3;
}

#app .archive .divInfoNotif {
  font-style: italic;
}

/* INSCRIPTIONS */

.inscription{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px black;
  margin: 15px;
}
.inscription-identité{
  display: flex;
  flex-direction: column;
}
.inscription-btns{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.valideButton, .refuseButton{
  cursor: pointer;
  transition: 0.5s;
  border: solid 2px #3D7C98;
  width: max-content;
  border-radius: 15px;
  padding: 5px;
}
.valideButton:hover{
  background-color: #79fb86;
}
.refuseButton:hover{
  background-color: rgb(232, 86, 86);
}
.valideButton{
  background-color: #3D7C98;
  color: white;
}
.refuseButton{
  background-color: white;
  color: #3D7C98;
}

.divBoutonsReserv img {
  height: 45px;
  width: auto;
}

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 480px) {
  #app .navBar_User .navBar_container, #app .navBar_Admin .navBar_container{
    width: 180px;
  }

  #app .navBar__item:hover{
    width: auto;
  }

  .app-form{
    width: 100%;
    margin: 0;
  }
}

/*# sourceMappingURL=main.css.map */
