*{ /* tous les éléments */
    margin: 0px;
    padding: 0px;
    font-family: system-ui;
}

p,h1,h3, body > ul{
    padding: 10px;
}

#page_pres p{
    text-align: center;
    color: white;
}

.rouge{
    color: rgb(180, 58, 58);
}

.vert{
    color:rgb(138, 197, 120);
}

#back_table{
    background-color: rgb(255,215,0);
}

#back_table td{
    color: black;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #222630;
    /* background: linear-gradient(to right, rgb(49, 49, 49), rgb(88, 88, 88), rgb(48, 43, 116)); */
}

h1{
    text-align: center;
    margin-top: 20px;
    color: white;
}

h2{
    text-align: center;
}

.null{
    font-style: italic;
}

.handball, .tennis, .volley, .judo{
    display: flex;
    flex-direction: row;
    margin-left: 400px;
    margin-top: 20px;
    width: max-content;
    padding: 20px;
    border-radius: 30px;
}

.handball{
    border: solid 3px rgb(255,215,0);
    background: linear-gradient(to right, rgb(54, 46, 2), rgb(29, 28, 28));
}

.tennis{
    border: solid 3px rgb(124, 224, 94);
    background: linear-gradient(to right, rgb(6, 54, 2), rgb(29, 28, 28));
}

.volley{
    border: solid 3px rgb(255, 55, 55);
    background: linear-gradient(to right, rgb(54, 2, 2), rgb(29, 28, 28));
}

.judo{
    border: solid 3px rgb(184, 178, 178);
    background: linear-gradient(to right, rgb(73, 73, 73), rgb(29, 28, 28));
}


.invisible, .achete{
    display: none;
}

.buy{
    cursor: pointer;
    width: 75px;
    border: solid rgb(44, 146, 205) 2px;
    color: rgb(44, 146, 205);
    background-color: rgb(34, 43, 48);
    transition: 0.5s;
    border-radius: 4px;
}

.sell{
    cursor: pointer;
    width: 60px;
    border: solid rgb(221, 67, 67) 2px;
    color: rgb(221, 67, 67);
    background-color: rgb(42, 30, 30);
    transition: 0.5s;
    height: min-content;
}

.buy:hover, .sell:hover{
    letter-spacing: 1px;
}


#attaquants, #arrieres, #defenseur, #gardien, #joueurs_tennis, #devant, #milieux, #derriere, #M{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.side-nav{
    position: fixed;
    height : 100v;
    left: 0;
}

.wrapper{
    background-color: rgb(44, 44, 43);
    height:100vh;
    width:100px;
    border-radius: 5px;
}

.nav-bloc {
    padding: 20px 0;
    display:flex;
    justify-content: center;
    border-bottom: 2px solid rgb(255,215,0);
    border-right: 2px solid rgb(255,215,0);
}

.nav-bloc:hover{
    background-color: rgb(234,255,234);
    border-radius: 5px;
}

.nav-bloc a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-bloc:hover a, .nav-bloc:hover p{
    color: rgb(221, 112, 112);
}

#page_marche{
    display: flex;
    justify-content: space-between;
}

#compo_tennis{
    display: flex;
    flex-direction: column;
    border : solid 2px white;
    background-color: limegreen;
}

#compo_hand{
    display: flex;
    flex-direction: column;
    border : solid 2px white;
    background-color: rgb(223, 102, 59);
}

#compo_volley{
    display: flex;
    flex-direction: column;
    border : solid 2px white;
    background-color: rgb(56, 105, 240);
}

#compo_judo{
    display: flex;
    flex-direction: column;
    border : solid 2px white;
    background-color: rgb(255, 139, 240);
}

form{
    margin-left: 400px;
}

#squad_value{
    color: white;
}


#pres{
    color: black;
}

#pres1{
    color: rgb(223, 102, 59);
    -webkit-text-stroke: 1px black;
}

#pres2{
    color: rgb(233, 225, 225);
    -webkit-text-stroke: 1px black;
}

.utilisateur{
    color: white;
}

.joueur{
    color: white;
    font-weight: bold;
}

.nom, .poste, .sport{
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    font-size: 20px;
}

.possesseur{
    color: white;
    text-shadow: 0 0 2px rgb(192, 62, 62), 0 0 2px rgb(192, 62, 62), 0 0 2px rgb(192, 62, 62), 0 0 2px rgb(192, 62, 62), 0 0 2px rgb(192, 62, 62), 0 0 2px;
    font-size: 20px;
}


.note{
    color: white;
    font-family: 'Times New Roman', Times, serif,;
    text-shadow: 0 0 2px purple, 0 0 2px purple, 0 0 2px purple, 0 0 2px purple, 0 0 2px purple, 0 0 2px purple, 0 0 2px purple, 0 0 2px purple, 0 0 2px purple, 0 0 2px purple;
    font-size: 20px;
}
.prix{
    color: white;
    font-family: 'Times New Roman', Times, serif,;
    text-shadow: 0 0 2px purple, 0 0 2px purple, 0 0 2px purple, 0 0 2px purple, 0 0 2px purple, 0 0 2px purple, 0 0 2px purple, 0 0 2px purple, 0 0 2px purple, 0 0 2px purple;
    font-size: 20px;
  
}


#addUserForm{
    width: min-content;
    height: min-content;
    margin-left: 400px;
    
    position: absolute;
    left: 10%;
    top: 20%;

    padding: 10px 105px 25px 105px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px gray;
}


input{
    padding: 15px 50px 15px 60px;
    margin: 5px 0px 5px 0px;
    border-radius: 30px;
    border: 0px;
    background-color: #e7e7e7;
    
}

#submitConnexion{
    transition: 0.5s ease;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: bold;

    padding: 15px 85px 15px 75px;
    margin-top: 10px;
    left: 10px;
    border-radius: 30px;
    border: 0px;

    color: white;
    background-color: #58b847;
    
}

#submitConnexion:hover{
    cursor: pointer;
    background-color: #222630;
    transition: 0.5s ease;
}

#NameConnexion{
    border-radius: 30px;
    margin-bottom: 10px;
}

table{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(22, 22, 22);
    border : solid 2px rgb(255,215,0);
}

.haut{
    background-color: rgb(173, 169, 169);
}

td{
    text-align: center;
    color: white;
}

#titre_hand, #titre_tennis, #titre_volley, #titre_judo{
    color: rgb(255,215,0);
}

.erreur{
    color: rgb(201, 59, 59);
    text-align: center;
}

img{
    display: flex;
    margin: auto;
    width: 1080px;
    height: 720px;
}

#page_pres p{
    color: white;
    margin: auto;
}

#back_table{
    background-color: grey;
}

#back_table td{
    color: white;
}

.rouge{
    color: red;
}

#desc_postes{
    display: flex;
    justify-content: space-around;
}

#desc_postes ul{
    color: rgb(255,215,0);
    list-style: none;
    margin-bottom: 30px;
}

#desc_postes ul li{
    color: white;
}


.fenetre_alerte{
    z-index: 1;
    position: fixed;
    top: 200px;
    left: 550px;
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px gray;
    opacity: 100%;
}

.fenetre_alerte h1{
    color: red;
    font-weight: bold;
}

.fenetre_alerte p{
    padding-left: 90px;
}


.cache{
    /* display: none; */
    z-index: -1;
    opacity: 10%;
}

#BoutonErreur{
    transition: 0.5s ease;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: bold;

    padding: 15px 85px 15px 75px;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 30px;
    border: 0px;

    color: white;
    background-color: #58b847;

}

#BoutonErreur:hover{
    cursor: pointer;
    background-color: #222630;
    transition: 0.5s ease;
}
